# Python
__pycache__/
*.py[cod]
*.so

# Virtualenv
.venv/
venv/
ENV/

# Editor/project files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Build / packaging
dist/
build/
*.egg-info/

# Logs and local data
.pytest_cache/
.cache/
.local/
